@model Game

<form method="post" asp-controller="Home" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Game</h2>
            <hr />
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
        </div>
        <div class="mb-3">
            @*            asp binds it to the title in the model*@
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control-plaintext" placeholder="Image URL" value="@Model.Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @*            asp binds it to the title in the model*@
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control-plaintext" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @*            asp binds it to the title in the model*@
            <label asp-for="Platform"></label>
            <input asp-for="Platform" class="form-control-plaintext" placeholder="Platform" />
            <span asp-validation-for="Platform" class="text-danger"></span>
        </div>
        <div class="mb-3">
            @*            asp binds it to the title in the model*@
            <label asp-for="Genre"></label>
            <input asp-for="Genre" class="form-control-plaintext" placeholder="Genre" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Rating"></label>
            <input asp-for="Rating" class="form-control-plaintext" placeholder="Rating" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control-plaintext" placeholder="Year" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Update
            @*icon gotten from https://icons.getbootstrap.com*@
        </button>

        <a asp-controller="Home" asp-action="Collection" class="btn btn-secondary">
            Back to Collection
        </a>
    </div>
</form>