@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to the <b><i>Game Archives!</i></b></h1>
    <h2 class="text-secondary"> About us:</h2>
    <p class="p-0">We are currently gaming!</p>
    <p></p>
</div>
