@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 text-primary">@ViewData["Title"]</h1>
<h2 class="display-3 text-secondary">This "Site" was coded by Matthew Munoz in 2023!</h2>

<p>Not sure what else to put here but yeah enjoy! - 1/21/23</p>
